body{
    background:rgb(255, 255, 255);
    color: black;
    font-family:arial;
}

#Layer_1{
    width: 800px;
    float: left;
}

#legendDiv{
    width: 200px;
    float: left;

}
#legendImg{
    width: 200px;
    margin-top: 100px;
}
#tableAndTimelineDiv{
    display: inline-block;
    width: 100%;
}
#currentTime {
    background-color: aqua;
}

#currentName {
    background-color: aqua;
}
